<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="../style/default.css">
        <title>Time Tracker</title>
    </head>
    <body style="font-family: roboto, sans-serif; user-select: none;">
        <table style="width: 100%; height: 100%">
            <tr>
                <td><h2>Current Task</h2></td>
                <td></td>
                <td><input type="button" value="Finished"/></td>
            </tr>
            <tr>
                <td colspan="3">
                    <select id="task-combo" style="width:100%">
                        <option value="0">Task 1</option>
                        <option value="1">Task 2</option>
                        <option value="2">Task 3</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>
                    <table>
                        <tr><td>Today</td><td>2 hrs</td></tr>
                        <tr><td>Total</td><td>2 hrs</td></tr>
                    </table>
                </td>
                <td>
                    <a href="#">Issue</a>
                </td>
                <td>
                    <input type="button" value="Tasks..." />
                </td>
            </tr>
        </table>
    </body>
</html>
